/* ============================================
    Framework Override
   ============================================ */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/* ============================================
    Page Title
   ============================================ */
.page-title small {
    margin-left: 0px;
}
.page-title small::before {
    content: '';
    margin-right: 0px;
}


/* ============================================
    Navbar
   ============================================ */

.navbar {
    z-index: 1000;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

/* ============================================
    Panel
   ============================================ */
.panel-body.table-responsive {
    padding-top: 0;
}